@model DetailsVM


<h2>About @Model.Title:</h2>
<main>
	<div class="container my-5">
		<table class="table" >
			<tbody>
				<tr>
					<td scope="row">
						<div class="col-md-4">
							<div class="row" style="text-align: center;"></div>
							<img style="width: 300px; height: auto;" src="@Model.Poster" alt="Poster image for @Model.Title" />
						</div>
						<div class="col-md-4">
							@if (User.Identity.IsAuthenticated)
							{
								<button class="watchlist-button" data-movie-id="@Model.Id">
									@(Model.InWatchList ? "Remove from watchlist" : "Add to watchlist")
								</button>
							}
						</div>
						<div>
							@Model.Rating <br/>
							@Model.ReleaseDate
						</div>
					</td>
					<td scope="row">
						<div>
							@Model.Description
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>


@section Scripts {
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			document.querySelectorAll('.watchlist-button').forEach(button => {
				button.addEventListener('click', function (e) {
					const movieId = e.target.getAttribute('data-movie-id');
					const isInWatchlist = e.target.textContent.trim() === 'Remove from watchlist';
					// const url = isInWatchlist ? `/RemoveFromWatchListSearch?movieId=${movieId}` : `/AddMovieToList?movieId=${movieId}`;
					console.log(movieId)
					// console.log(url)
					console.log(isInWatchlist)
					fetch(`/ManageWatchList?movieId=${movieId}&remove=${isInWatchlist}&isJsonCall=true`, {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({ movieId })
					})
						.then(response => response.json())
						.then(data => {
							if (data.success) {
								e.target.textContent = isInWatchlist ? 'Add to watchlist' : 'Remove from watchlist';
							}
						})
						.catch(error => console.log('Error:', error));
				});
			});
		});
	</script>
	}