@model List<MovieMatchMvc.Views.Movie.WatchlistVM>
<div class="text-center">
<form class="form-container" asp-action="MatchWatchListsPost" asp-controller="Movie">
    <h2>Who's Your Friend?</h2>
    <div class="form-group form-buddylist">
        <input type="text" class="form-control" id="username" name="username" required />
        <button type="submit" class="btn btn-primary">Match!</button>
    </div>
</form>
<h2 style="color: antiquewhite">Matching with @ViewBag.OtherUsername</h2>
</div>
<div class="buddy-search-container">
    <div class="buddy-carousel">
        @if (Model == null)
        {
            <p>No common movies found. Consider adding more films to your list or stepping out of your comfort zone</p>
        }
        else
        {
            @foreach (var movie in Model)
            {
                <div class="buddy-search-card">
                    @* <a class="reset-a-tag" asp-action="Details" asp-controller="Movie" asp-route-id="@movie.MovieId">  *@
                        <img src="@movie.Poster" alt="@movie.Title">
                        <p> <a class="reset-a-tag detail-link" asp-action="Details" asp-controller="Movie" asp-route-id="@movie.MovieId"> @movie.Title </a> </p>
                    @* </a>  *@
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <script>

    </script>
}
