@{
    ViewBag.Title = "Search";
}

@model List<MovieMatchMvc.Views.Movie.SearchVM>

<h1>Search "@ViewBag.Query"</h1>
<h2>Titles</h2>

<div id="search-container">
    @foreach (var movie in Model)
    {
        <div style="clear: both; width: 80%; border: solid 5px white; margin:0 auto; " id="search-result">
            @* <div style="display: flex;flex-direction: column; justify-content: space-between; align-items: flex-start;"> *@
            <img style="height:200px; width: 150px;" src="@movie.Poster" alt="..." />
            <div style="float: right;">
                <a style="font-weight: bold;" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a>
                <p>@movie.ReleaseDate</p>
                <p>Average score: @movie.Rating</p>

            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <button class="watchlist-button btn-primary btn" data-movie-id="@movie.Id">
                    @(movie.InWatchList ? "Remove from watchlist" : "Add to watchlist")
                </button>
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.watchlist-button').forEach(button => {
                button.addEventListener('click', function (e) {
                    const movieId = e.target.getAttribute('data-movie-id');
                    const isInWatchlist = e.target.textContent.trim() === 'Remove from watchlist';
                    // const url = isInWatchlist ? `/RemoveFromWatchListSearch?movieId=${movieId}` : `/AddMovieToList?movieId=${movieId}`;
                    console.log(movieId)
                    // console.log(url)
                    console.log(isInWatchlist)
                    fetch(`/ManageWatchList?movieId=${movieId}&remove=${isInWatchlist}&isJsonCall=true`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ movieId })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                e.target.textContent = isInWatchlist ? 'Add to watchlist' : 'Remove from watchlist';
                            }
                        })
                        .catch(error => console.log('Error:', error));
                });
            });
        });
    </script>
}
