@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieMatchMvc.Views.Movie.WatchlistVM[]

<!DOCTYPE html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<h4 align="Center"  style="color: antiquewhite; margin-right:46.5rem; margin-top:1rem;">My watchlist</h4>
	@*<p style="margin-left:12rem;">Filter:</p>*@
	<div class="search-bar" style="margin-left:10.5rem;">
		<div id="select">
			<p id="selectText">All categories</p>
			<img src="" />
			<ul id="list">
				<li class="options" style="color: black;" data-argument="Popularity">Popularity</li>
				<li class="options" style="color: black;" data-argument="ReleaseDate">Release Date</li>
				<li class="options" style="color: black;" data-argument="">All categories</li>
				<li class="options" style="color: black;" data-argument="Title">Title</li>
				<li class="options" style="color: black;">
					Genre
					<ul id="GenreList" > 
						<li>Action</li>
						<li>Adventure</li>
						<li>Sci-Fi</li>
						<li>Drama</li>
					</ul>
				</li>
			</ul>
			<input type="text" class="form-control "id="inputfield" placeholder="Search in all categories" />
		</div>
	</div>

	<div class="search-container">
		@foreach (var item in Model)
		{
			<div class="search-result">
				<img src="@item.Poster">
				<div class="search-card">
					<div class="top-column">
						<a style="font-weight: bold" style="color: antiquewhite;" asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId">
							@item.Title
						</a>
					</div>
				</div>
				<div style="margin-right: 100px;">
					<form asp-controller="Movie" asp-action="ManageWatchList" method="post">
						<input type="hidden" name="movieId" value="@item.MovieId" />
						<div class="bottom-right">
							<input type="submit" class="btn btn-danger " value="Remove from watchlist">
						</div>
					</form>
				</div>
			</div>

			<br />
		}
	</div>


	<script>
		let select = document.getElementById("select")
		let list = document.getElementById("list")
		let selectText = document.getElementById("selectText")
		let inputfield = document.getElementById("inputfield")

		let options = document.getElementsByClassName("options")

		select.onclick = function () {
			list.classList.toggle("open");
		}

		for (option of options) {
			option.onclick = function () {
				selectText.innerHTML = this.innerHTML;
				inputfield.placeholder = "Search for " + selectText.innerHTML;

				// if (selectText.innerHTML === "Genre") {
				// 	openGenresMenu();
				// }
			}
		}

		// option.addEventListener("mouseenter", function () {
		// 	if (this.innerHTML === "Genre") {
		// 		openGenresMenu();
		// 	}
		// });

		// function openGenresMenu() {
		// 	const genreSubMenu = document.getElementById("GenreList");
		// 	if (genresSubMenu) {
		// 		genresSubMenu.style.display = "block";
		// 	}
		// }
		$(document).ready(function () {
			$(".options").click(function () {
				var argument = $(this).data("argument");
				var url = "/Watchlist?argument=" + argument;
				window.location.href = url;
			});
		});
	</script>
</body>
</html>


@*<input asp-for="Password" class="form-control short-input" placeholder="Password" />*@

@* <ul>

	@foreach (var item in Model)
	{
	<div >
	<img style="height:100px;" width="100:px;" src="@item.Poster"> @item.Title
	<p>
	@item.MovieId
	</p>

	</div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<form asp-controller="Movie" asp-action="RemoveFromWatchList" method="post">
	<input type="hidden" name="movieId" value="@item.MovieId" />
	<input type="submit" class="btn btn-danger" class="align-middle" value="Remove from watchlist">
	</form>
	</div>

	}
	</ul> *@