@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieMatchMvc.Views.Movie.WatchlistVM[]

<!DOCTYPE html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<div class="search-bar-container">
	<h3  class="search-bar-title" style="color: antiquewhite; ">My watchlist</h3>
	@*<p style="margin-left:12rem;">Filter:</p>*@
	<div class="search-bar">
		<div id="select">
			<p id="selectText"></p>
			<img src="/Images/arrow.svg" alt="arrow" style= "width: 70px !important; height: 70px !important;"/>
			<ul id="list">
				<li class="options"  data-argument="Popularity">Popularity</li>
				<li class="options"  data-argument="ReleaseDate">Release Date</li>
				<li class="options"  data-argument="">All categories</li>
				<li class="options"  data-argument="Title">Title</li>
				<li id="genreOption" class="options" >
					Genre >
					<ol id="GenreList" class="nested-dropdown">@* <ul id="GenreList" class="nested-dropdown">  *@
						<li>Action</li>
						<li>Adventure</li>
						<li>Sci-Fi</li>
						<li>Drama</li>
					@* </ul> *@
					</ol>
				</li>
			</ul>
			<input type="text" class="form-control "id="inputfield" placeholder="Search in all categories" />
		</div>
	</div>
	</div>
	<div class="search-container">
		@foreach (var item in Model)
		{
			<div class="search-resultwatchlist">
				<img src="@item.Poster">
				<div class="search-card">
					<div class="top-column">
						<a style="font-weight: bold" style="color: antiquewhite;" asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId">
							@item.Title
						</a>
					</div>
				</div>
				<div style="margin-right: 100px;">
					<form asp-controller="Movie" asp-action="ManageWatchList" method="post">
						<input type="hidden" name="movieId" value="@item.MovieId" />
						<div class="bottom-right">
							<input type="submit" class="btn btn-danger " value="Remove from watchlist">
						</div>
					</form>
				</div>
			</div>

			<br />
		}
	</div>


	<script>
		$(document).ready(function () {
			let select = $("#select");
			let list = $("#list");
			let selectText = $("#selectText");
			let inputfield = $("#inputfield");
			let genreList = $("#GenreList");

			select.click(function () {
				list.toggleClass("open");
				if (list.hasClass("open")) {
					list.css("overflow", "visible");
				} else {
					list.css("overflow", "hidden");
				}
			});

			$(".options").click(function (event) {
				let argument = $(this).data("argument");

				if (this.id === 'genreOption') {
					console.log("genreOption clicked");
					event.stopPropagation();
					genreList.toggle();
					return;
				}

				selectText.html(this.innerHTML);
				inputfield.attr("placeholder", "Search for " + selectText.html());

				let url = "/Watchlist?argument=" + argument;
				window.location.href = url;
			});

			$("#genreOption").mouseleave(function () {
				genreList.hide();
			});
		});



				// if (selectText.innerHTML === "Genre") {
						// 	openGenresMenu();
						// }
					// option.addEventListener("mouseenter", function () {
				// 	if (this.innerHTML === "Genre") {
				// 		openGenresMenu();
				// 	}
				// });

				// function openGenresMenu() {
				// 	const genreSubMenu = document.getElementById("GenreList");
				// 	if (genresSubMenu) {
				// 		genresSubMenu.style.display = "block";
				// 	}
				// }
	</script>
</body>
</html>


@*<input asp-for="Password" class="form-control short-input" placeholder="Password" />*@

@* <ul>

	@foreach (var item in Model)
	{
	<div >
	<img style="height:100px;" width="100:px;" src="@item.Poster"> @item.Title
	<p>
	@item.MovieId
	</p>

	</div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<form asp-controller="Movie" asp-action="RemoveFromWatchList" method="post">
	<input type="hidden" name="movieId" value="@item.MovieId" />
	<input type="submit" class="btn btn-danger" class="align-middle" value="Remove from watchlist">
	</form>
	</div>

	}
	</ul> *@