@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieMatchMvc.Views.Movie.WatchlistVM[]

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<h1 align="Center" style="color: antiquewhite;">Your watchlist:</h1>
	<p>Filter:</p>
	<input type="text" value="Enter title" />

	@* <ul>

		@foreach (var item in Model)
		{
			<div >
				<img style="height:100px;" width="100:px;" src="@item.Poster"> @item.Title 
				<p>
				@item.MovieId
				</p>
			
			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<form asp-controller="Movie" asp-action="RemoveFromWatchList" method="post">
					<input type="hidden" name="movieId" value="@item.MovieId" />
					<input type="submit" class="btn btn-danger" class="align-middle" value="Remove from watchlist">
				</form>
			</div>
			
		}
	</ul> *@
	
		<div class="search-container">
		@foreach (var item in Model)
		{
			@*<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 60px;">*@
				<div class="search-result">
					<img style="height: 200px; width: 150px;" src="@item.Poster">
					<div class="search-card">
						<div class="top-column">
					<a style="font-weight: bold" style="color: antiquewhite;" asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId">
						@item.Title
					</a>
						</div>
					</div>					
				<div style ="margin-right: 100px;">
					<form asp-controller="Movie" asp-action="ManageWatchList" method="post">
						<input type="hidden" name="movieId" value="@item.MovieId" />
						<div class="bottom-right">
						<input type="submit" class="btn btn-danger" value="Remove from watchlist">
						</div>
					</form>
				</div>
				</div>
				
			 <br/>
		}
		</div>
	


</body>
</html>
